<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .H2-text {
            color: red;
        }
    </style>
</head>
<body>

<div>
    <h1 id="H1-text"> H1 text </h1>
    <h2 class="H2-text"> H2 text </h2>
    <h3 class="H2-text"> H3 text </h3>
    <h4> H4 text</h4>
    <h5> H5 text</h5>
    <h6> H6 text</h6>
    <p> Ночь была темной. Луна хотя и взошла, <span style="color: aqua">голову </span>однако же ее скрывали густые
        облака, покрывавшие горизонт. Совершенная
        тишина
        царствовала в воздухе. Ни малейший ветерок не рябил гладкую поверхность заснувшей реки, быстро и молча катившей
        свои
        воды к морю. Кое-г зную голову и, хлестнув по струям хвостом, опускался в глубину. Опять
        все
        тихо.</p>
    <a href="https://www.python.org/"> Python </a>
    <img src="https://www.python.org/static/img/python-logo.png" alt="python.png" style="width: 250px">
    <ul>
        <li> lol 1</li>
        <li> lol 2</li>
        <li> lol 3</li>
    </ul>
    <ol>
        <li> boom 1</li>
        <li> boom 2</li>
        <li> boom 3</li>
    </ol>
    <form action="/action" method="POST">
        <input value="12" placeholder="Lol">
        <input type="password" placeholder="pass" name="" id="">
        <input required type="email" placeholder="email" name="" id="">
        <textarea placeholder="text" rows="4" cols="50">6</textarea>
        <button type="submit"> text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>item</td>
            <td>item1</td>
            <td>item2</td>
        </tr>
        <tr>
            <td>item</td>
            <td>item1</td>
            <td>item2</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>row</td>
            <td>row</td>
            <td>row</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>